<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Projects</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/lux/bootstrap.min.css">
    <link rel="stylesheet" href="../styles/style.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">My Portfolio</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="index.html">About Me</a>
                    </li>
                    <!--<li class="nav-item">
                        <a class="nav-link" aria-current="page" href="skills.html">Skills</a>
                    </li>-->
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="experience.html">Experience</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="projects.html">My Projects</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="row pt-20">
            <div class="col-md-3">
                <div class="card">
                    <img src="../assets/images/my_image.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Abraham Ibarra Linares</h5>
                        <h4 class="card-text">
                            Contact
                        </h4>
                        <p class="card-text">
                            Email: abrahamiba@gmail.com
                        </p>
                        <p class="card-text">Github: <a href="https://github.com/abrahamibli">https://github.com/abrahamibli</a></p>
                        <p class="card-text">
                            Phone: 614 401 5936
                        </p>
                        <p class="card-text">Location: Chihuahua, Chihuahua, México</p>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <h1>
                    Projects and Activities
                </h1>
                <h4 class="pt-20">
                    Projects
                </h4>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="card">
                            <img src="../assets/images/lutron_page.png" class="card-img-top card-image" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Lutron Bus Web Page</h5>
                                <h6 class="card-subtitle mb-2 text-muted">2020</h6>
                                <h6 class="card-subtitle mb-2 text-muted">Personal</h6>
                                <p class="card-text">- Web page for bus routes management</p>
                                <p class="card-text">- Developed with Angular and Firebase</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="card">
                            <img src="../assets/images/chambapp.jpg" class="card-img-top card-image" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Chambapp</h5>
                                <h6 class="card-subtitle mb-2 text-muted">2020</h6>
                                <h6 class="card-subtitle mb-2 text-muted">Work</h6>
                                <p class="card-text">- Web page and mobile app</p>
                                <p class="card-text">- Developed with Angular, Flutter and Firebase</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 pt-20">
                        <div class="card">
                            <img src="../assets/images/fitplus.png" class="card-img-top card-image" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Fitplus</h5>
                                <h6 class="card-subtitle mb-2 text-muted">2020</h6>
                                <h6 class="card-subtitle mb-2 text-muted">Work</h6>
                                <p class="card-text">- Web page and mobile app for fitplus gym management</p>
                                <p class="card-text">- Developed with Angular, Flutter and MongoDB</p>
                            </div>
                        </div>
                    </div>

                </div>

                <h4 class="pt-20">Activities and Courses</h4>
                <div class="row">
                    <div class="col-md-6">
                        <div class="card">
                            <img src="../assets/images/pk.png"
                                class="card-img-top card-image" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Intensive Training Program (ITP)</h5>
                                <h6 class="card-subtitle mb-2 text-muted">Jan. 2021 - Present</h6>
                                <p class="card-text">- PK program</p>
                                <p class="card-text">- Javascript bootcamp</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card">
                            <img src="../assets/images/icpc.jpg" class="card-img-top card-image" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">INTERNATIONAL COLLEGIATE PROGRAMMING CONTEST (ICPC)</h5>
                                <h6 class="card-subtitle mb-2 text-muted">2019, 2020</h6>
                                <p class="card-text">- Is an algorithmic programming contest for college students</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>

</body>

</html>