.pt-10 {
    padding-top: 10px;
}

.pt-20 {
    padding-top: 20px;
}

.pl-10 {
    padding-left: 10px;
}

.pt-65 {
    padding-top: 65px;
}

.pt-110 {
    padding-top: 110px;
}

.mt-110 {
    margin-top: 110px;
}

.mt-110-responsive {
    margin-top: 110px;
}

.mt-115 {
    margin-top: 115px;
}

.pr-20 {
    padding-right: 0px;
}

.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

body {
    padding-bottom: 40px;
    background: rgb(85,142,143);
    background: linear-gradient(0deg, rgba(85,142,143,1) 0%, rgba(255,255,255,1) 100%);
}

.card-image {
    height: 300px;
    object-fit: cover;
}

a.middle {
    position: relative;
}

a.middle:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #FFF;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
}

a.middle:hover:before {
    visibility: visible;
    transform: scaleX(1);
}

@media only screen and (min-width: 1700px) {
    .pr-20 {
        padding-right:47px;
    }
}

@media only screen and (max-width: 767px) {
    .profile-img {
        display: none;
    }

    .main-body {
        margin-top: 20px;
    }

    .fixed-responsive {
        position: relative !important;
        margin-top: 0;
    }

    .pt-10-responsive {
        padding-top: 10px;
    }

    .mt-110-primary {
        padding-top: 150px;
    }

    .mt-110-responsive {
        margin-top: 0px;
    }

    .pt-65 {
        padding-top: 20px;
    }

    .row-separation-mobile {
        padding-top: 20px;
    }

    .br-query {
        display: none;
    }
}

.row-separation {
    padding-top: 20px;
}